h1{
    background-color: brown;
    color: rgb(20, 236, 81);
    font-size: 100px;
}

.box1{
    width: 500px;
    height: 500px;
    background-color: rgb(20, 236, 81);
    color: brown;
    font size: 60px;
}

.box2{
    width: 500px;
    height: 500px;
    background-color: brown;
    color: rgb(20, 236, 81);
    font size: 60px;
}

.box3{
    width: 500px;
    height: 500px;
    background-color: rgb(20, 236, 81);
    color: brown;
    font size: 60px;
}

.box4{
    width: 500px;
    height: 500px;
    background-color: brown;
    color: rgb(20, 236, 81);
    font size: 60px;
}




